.recommendedVideos {
    background-color: #f9f9f9;
    flex: 0.8%;
    padding: 40px 20px;
    padding-bottom: 0;
  }
  
  .recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
  }
  
  .recommendedVideos__videos {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media only screen and (max-width: 768px) {
    .recommendedVideos__videos {
      width: 100%;
      margin-left: 20px;
    }
    
    
    .recommendedVideos {
      flex: 1 !important;
      padding: 20px !important;
      flex-direction: row !important;
      width: 100%;
    }
    
    .recommendedVideos > h2 {
      font-size: 1.5rem !important;
    }
    
    .recommendedVideos__videos:last-child {
      margin-right: 0;
    }
  }
  