.sidebar{
    flex: 0.2;/*so here we want sidebar to occupy 20% of the app body*/
}
.sidebar {
    flex: 0.2;
  }
  
  @media (max-width: 768px) { /* adjust the breakpoint as needed */
    .sidebar {
      display: none;
      order: 2;
    }
    
    .mobile-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white; /* add styles as needed */
      z-index: 100; /* ensure the mobile sidebar appears above other elements */
    }
  }
  @media only screen and (min-width: 769px) {
    /* This media query targets screens with a min width of 601px or more */
    .mobile-sidebar {
      display: none;
    }
    .sidebar {
      display: block;
    }
  }
  